body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 50px;
}


h1 {
    color: #333;
}


form {
    background-color: rgb(255, 225, 238);
    
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    width: 500px;
    margin: 0 auto;
}


label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: bold;
}

input{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
}

input[type="radio"]:checked{
    appearance: none;
    width: 10px;
    height: 10px;
    background-color: #ff56aa;
}

button {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: #ff56aa;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: white;
    border: 2px solid #ff56aa;
    color: #ff56aa;
}

p {
    color: #333;
    font-weight: bold;
}
